body {
  background-color: white;
}

/* Remove the navbar's default margin-bottom and rounded borders */
/*
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  padding: 0px 0px;
}
*/ 


#myPic{
  width:  200px;
  height: 200px;
  /*margin: 50px 90px; */
  margin: 50px 0px 3px 80px;
  border-radius: 50%;
  background-size:cover;
}

#h1{
  font-size: 2.5rem;
  font-weight: 350;
  color: rgba(0,0,0, 0.80);
  margin: 10px 0px 0px 84px;

}
#h2{
  font-size: 1.5rem;
  font-weight: 330;
  color: rgba(0,0,0, 0.54);
  margin: 10px 0px 5px 45px;
}

.social-icons {
  text-align: center;
  margin: 5px 75px 5px 0;
  }  
.social-icons li {
  display:inline-block;
  list-style-type:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  }
.social-icons li a {
  border-bottom: none;
  }

#a1{
  font-size: 1.5rem;
  font-weight: 349;
  color: rgba(0,0,0, 0.80);
  margin: 10px 0px 5px 70px;
}

#a1:hover {
  color: #337ab7;
  text-decoration: none;
}

#a2{
  
  /*color: rgba(0,0,0, 1);*/
  margin: 0px 0 10px 0;

}

#a2:hover {
  /*color: #337ab7;*/
  color: rgba(0,0,0, 1);
  text-decoration: none;
}

#h3{
  font-size: 1.5rem;
  font-weight: 700;
  color: rgba(0,0,0, 0.54);
  margin: 0px 0 10px 0;

}
#h4{
  font-size: 1.5rem;
  font-weight: 700;
  color: rgba(0,0,0, 0.54);
  margin: 60px 0 10px 0;

}